.main{
    margin: 0;
    padding: 0;
    background-color: gray;
    border: 1px solid white;
}

.header{
    display: flex;
    justify-content: center;
}

.main-head{
    height: 160px;
    width: 500px;
    background-color: white;
    border: 8px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px purple;
    text-shadow: 2px 1px 2px purple;
    margin-top: 5px;
    text-align: center;
}

.main-head h2{
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.mid{
    border: 8px solid green;
}

.mid1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.box1{
    height: 280px;
    width: 220px;
    background-color: white;
    border: 8px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 5px purple;
}

.box1 h3{
    color: purple;
    text-shadow: 2px 1px 2px purple;
    margin-left: 8px ;
    font-style: italic;
}

.box2{
    /* position: relative; */
    float: inline-end;
    height: 280px;
    width: 220px;
    background-color: white;
    border: 8px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 5px purple;
}

.mid2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.box3{
    height: 280px;
    width: 220px;
    background-color: white;
    border: 8px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 5px purple;
}

.box3 h2{
    text-shadow: 2px 1px 2px purple;
    margin-left: 8px;
}

.box4{
    height: 280px;
    width: 220px;
    background-color: white;
    border: 8px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 5px purple;
}

.box4 form{
    text-shadow: 2px 1px 2px purple;
    text-align: center;
}

.box4 button{
    background-color: red;
    font-weight:bold;
    border: 1px solid outset black;
    border-radius: 20px;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-box{
    background-color: green;
    border: 8px solid blueviolet;
    text-align: center;
    margin-top: 10px;
    /* padding: 0px 20px 20px 20px; */
}

.f1{
    display: flex;
    justify-content: space-around;
}

.fruits{
    background-color: yellow;
    font-style: italic;
    /* padding: 0px 20px 20px 20px; */
}

.vegetables{
    background-color: yellow;
    font-style: italic;    
}

.f2{
    background-color: yellow;
    font-style: italic;
}

.footer-fix{
    display: flex;
    position: fixed;
    justify-content: center;
    left: 460px;
    top: 550px;
}

.fixed{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    height: 100px;
    width: 520px;
    background-color: green;
    border: 8px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 5px purple;
}
